<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="conv_form" method="post" enctype="multipart/form-data">
    <div>
        <label for="conv_input">Выберите документ для конвертации в pdf </label><br>
        <input id="conv_input" name="conv_input" type="file" accept=".doc, .docx, .ppt, .pptx, .xls, .xlsx"><br><br>
    </div>
    <div>
        <button type="submit">Отправить</button>
    </div>
</form>


</body>
</html>