<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form name="conv_form" method="post" enctype="multipart/form-data">
    <div>
        <label for="conv_input">Выберите документ для конвертации</label><br>
        <input id="conv_input" name="conv_input" type="file">
    </div>
    <span>
        <input id="error_message" type="hidden" style="color: red; border: 0" value="Wrong input format">
    </span>
    <div>
        <label for="conv_output">Выходной формат</label>
        <select id="conv_output" name="conv_output">
            <option>Choose file to convert</option>
        </select>
    </div>
    <div>
        <button id="submit" type="submit">Отправить</button>
    </div>
</form>

<script type="text/javascript" src="js/convert.js"></script>
</body>
</html>